<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en-US"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>Chinny Reh-KON</title>
  <meta name="description" content="Chinny reckon - for all your everyday disbelief needs">
  <meta name="keywords" content="Chinny reckon, Itch my chin, Rub my chin, Chin rub, Chim chinnery, Chinny reckoff, Chinny beard, Tutankhamun, Jackanory, Itchy beard, Jimmy Hill">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style><%= styles %></style>
</head>
<body>

<div id="chin"></div>

<noscript>
  <img src="i/batman.gif" alt="">
</noscript>

<footer role="contentinfo" id="footer">
  <a href="http://www.urbandictionary.com/define.php?term=chinny%20reckon&defid=1365753" title="What is 'chinny reckon'?">?</a>
  <a href="http://twitter.com/slocombe" title="@slocombe">@</a>
</footer>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>
</html>